:root {
    --color-1: #c9111b;
}

.bg-image {
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-color-1 {
    color: var(--color-1) !important;
}

.black-line {
    height: 6px;
    /* border-radius: 10%; */
    width: 200px;
    background-color: #000;
}

.btn-color-1 {
    color: #fff;
    background-color: var(--color-1) !important;
}

.bg-orange {
    color: var(--black);
    background-color: #fcba1e;
}

#navbarSupportedContent ul li a {
    color: black !important;
}
